@font-face {
  font-family: "Webnar-regular";
  src: url("../fonts/WEBNAR-REGULAR.OTF"), url("../fonts/Webnar-Regular.ttf"), url("../fonts/Webnar-Regular.eot"), url("../fonts/Webnar-Regular.woff"), url("../fonts/Webnar-Regular.svg"); }

@font-face {
  font-family: "Webnar-italic";
  font-style: italic;
  src: url("../fonts/WEBNAR-REGULARITALIC.OTF"), url("../fonts/Webnar-RegularItalic.ttf"), url("../fonts/Webnar-RegularItalic.eot"), url("../fonts/Webnar-RegularItalic.woff"), url("../fonts/Webnar-RegularItalic.svg"); }

@font-face {
  font-family: "Webnar-bold";
  font-weight: bold;
  src: url("../fonts/WEBNAR-BOLD.OTF"), url("../fonts/Webnar-Bold.ttf"), url("../fonts/Webnar-Bold.eot"), url("../fonts/Webnar-Bold.woff"), url("../fonts/Webnar-Bold.svg"); }

@font-face {
  font-family: "Webnar-bold_italic";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/WEBNAR-BOLDITALIC.OTF"), url("../fonts/Webnar-BoldItalic.ttf"), url("../fonts/Webnar-BoldItalic.eot"), url("../fonts/Webnar-BoldItalic.woff"), url("../fonts/Webnar-BoldItalic.svg"); }

@font-face {
  font-family: "Webnar-thin";
  font-weight: 100;
  src: url("../fonts/WEBNAR-THIN.OTF"), url("../fonts/Webnar-Thin.ttf"), url("../fonts/Webnar-Thin.eot"), url("../fonts/Webnar-Thin.woff"), url("../fonts/Webnar-Thin.svg"); }

body {
  color: #464646;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-family: "Webnar-regular"; }

b, .bold {
  font-family: "Webnar-bold"; }

.n-wr {
  white-space: nowrap; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

p {
  margin: 0; }

.container {
  width: 1160px; }

.t-center {
  text-align: center; }

.hide-svg {
  display: none; }

.blur {
  background: url(../img/blur.png) no-repeat top center #006198; }

.title {
  color: #036194;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 22px; }

.slider-arrow {
  width: 47px;
  height: 47px;
  background: #FFFFFF;
  border: 2px solid #006298;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  position: absolute; }
  .slider-arrow:focus {
    outline: none;
    border: 2px solid #006298; }
  .slider-arrow svg {
    stroke: #006298;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }
  .slider-arrow:hover {
    background-color: #006298; }
  .slider-arrow:hover svg {
    stroke: #fff; }
  .slider-arrow_prev {
    left: -50px; }
  .slider-arrow_next {
    right: -50px; }
  .slider-arrow__wrapper {
    position: absolute;
    top: 50%;
    width: 100%; }

.f-help {
  background: #D0D0D0;
  padding-top: 50px;
  color: #333; }
  .f-help .title {
    color: #000; }
  .f-help p {
    font-size: 20px;
    line-height: 25px; }
    .f-help p:last-child, .f-help p .bold {
      padding-bottom: 35px; }

.f-type {
  padding: 70px 0; }
  .f-type__title {
    width: 100%;
    padding: 26px 0;
    margin-bottom: 25px;
    background: #EEEEEE;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: "Webnar-bold"; }
  .f-type__content {
    padding: 0 20px 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #F8F9F9;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px; }
  .f-type p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px; }
  .f-type__hand {
    background: url("../img/blur.png") no-repeat center #006198;
    border-radius: 3px;
    color: #fff;
    margin-top: 55px;
    font-size: 20px;
    line-height: 30px;
    padding: 40px 50px 60px; }
    .f-type__hand_img {
      margin-right: 20px; }

.blue-list {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: blue-counter; }
  .blue-list__item {
    font-size: 16px;
    font-family: "Webnar-regular";
    color: #464646;
    line-height: 22px;
    margin-bottom: 22px;
    padding-left: 30px;
    position: relative; }
    .blue-list__item:before {
      content: counter(blue-counter);
      counter-increment: blue-counter;
      font-size: 18px;
      line-height: 22px;
      color: #006298;
      font-family: "Webnar-bold";
      position: absolute;
      left: 0; }

.f-notdo {
  background: url("../img/notdo_bg.jpg") no-repeat;
  padding: 50px 0 70px; }
  .f-notdo .title {
    margin-bottom: 50px; }
  .f-notdo__img {
    width: 70px;
    height: 70px;
    background: #016299;
    border-radius: 50%;
    margin-bottom: 16px; }
  .f-notdo__text {
    line-height: 22px; }

.f-recommend {
  margin-top: 55px;
  margin-bottom: 65px; }
  .f-recommend .title {
    margin-bottom: 35px; }

.color-list__item {
  margin-bottom: 35px;
  line-height: 22px;
  position: relative;
  padding-left: 40px;
  letter-spacing: 0; }
  .color-list__item:before {
    content: '';
    background: #006298;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    top: 5px; }

.f-case {
  margin-top: 80px;
  margin-bottom: 50px; }
  .f-case__item {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 30px 60px 30px;
    position: relative;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    width: 100%; }
    .f-case__item:hover {
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .f-case__title {
    font-family: "Webnar-bold";
    font-size: 30px;
    line-height: 35px;
    color: #006298;
    margin-bottom: 30px; }
  .f-case p {
    margin-bottom: 15px; }
  .f-case__numbers {
    font-size: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0 0;
    margin-bottom: 15px; }
    .f-case__numbers span {
      font-family: "Webnar-bold";
      font-size: 28px; }
    .f-case__numbers_orange span {
      color: #e19c00; }
    .f-case__numbers_blue span {
      color: #006298; }
  .f-case__profit-title {
    color: #333;
    font-size: 30px;
    line-height: 35px;
    font-family: "Webnar-bold";
    margin-bottom: 15px; }
  .f-case__link {
    color: #016299;
    font-size: 20px;
    line-height: 35px;
    position: absolute;
    bottom: 30px;
    text-decoration: underline; }

.f-feedback {
<<<<<<< HEAD
  background: #006198;
=======
<<<<<<< HEAD
.f-feedback {
=======
=======
  background: #006198; }

>>>>>>> 1f06fcccc8f0259a56e3225c8ca042bcbfa62ad1
.f-reviews {
  margin: 50px 0; }
  .f-reviews__item {
    border-radius: 3px;
    background: #ffffff;
    padding: 22px 17px 10px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25); }
  .f-reviews__title {
    font-family: "Webnar-bold";
    font-size: 30px;
    line-height: 47px;
    color: #333;
    margin-bottom: 10px; }
  .f-reviews__subtitle {
    font-size: 20px;
    line-height: 25px;
    color: #333;
    margin-bottom: 20px; }
  .f-reviews__text {
    font-size: 18px;
    line-height: 22px;
    color: #1a1a1a; }
  .f-reviews__link {
    margin-top: 20px;
    display: block;
    text-align: right;
    text-decoration: underline;
    color: #006298;
    font-size: 18px;
    line-height: 22px; }

.f-feedback {
  background: url("../img/blur.png") no-repeat center #006198;
<<<<<<< HEAD
>>>>>>> 7608f97a460f6cbf1b2b4eeb0a9a36fef04dc7ed
>>>>>>> 31b0bfdc38dd70d86aa6a401b46b2c6c4da2f10a
=======
>>>>>>> 1f06fcccc8f0259a56e3225c8ca042bcbfa62ad1
  padding: 60px 0 40px;
  color: #fff; }
  .f-feedback .title {
    color: #fff;
    margin-bottom: 50px; }
  .f-feedback__submit {
    text-align: center;
    width: 100%; }
  .f-feedback__button {
    background: #fff;
    font-family: "Webnar-bold";
    height: 52px;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    margin: 30px auto 0;
    width: -webkit-calc(33.3% - 30px);
    width: calc(33.3% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px; }

.form-group input {
  height: 52px;
  border-radius: 3px;
  border: 2px solid #fff;
  background-color: transparent; }
  .form-group input:focus {
    background-color: transparent; }
  .form-group input::-webkit-input-placeholder {
    color: #fff;
    font-family: "Webnar-bold"; }
  .form-group input::-moz-placeholder {
    color: #fff;
    font-family: "Webnar-bold"; }
  .form-group input:-ms-input-placeholder {
    color: #fff;
    font-family: "Webnar-bold"; }
  .form-group input::-ms-input-placeholder {
    color: #fff;
    font-family: "Webnar-bold"; }
  .form-group input::placeholder {
    color: #fff;
    font-family: "Webnar-bold"; }

.confidencial {
  text-align: center;
  margin-top: 40px; }
  .confidencial__link {
    color: #fff;
    text-decoration: underline; }
    .confidencial__link:hover {
      color: #fff;
      text-decoration: none; }

.f-contact {
  background: #F2F2F2;
  padding: 60px 0; }
  .f-contact__nav {
    border: 0;
    margin-top: 30px; }
  .f-contact__nav-item {
    margin-right: 30px; }
  .f-contact__nav-link {
    text-transform: uppercase;
    font-family: "Webnar-bold";
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px !important;
    border: 0 !important;
    color: #000;
    font-size: 22px;
    line-height: 1;
    padding: 23px 20px;
    text-align: center; }
    .f-contact__nav-link.active, .f-contact__nav-link:hover {
      background-color: #006298 !important;
      color: #fff !important;
      -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); }
  .f-contact__tab {
    margin-top: 40px; }
  .f-contact__tab-wrapper {
<<<<<<< HEAD
<<<<<<< HEAD
    margin-bottom: 30px; }
=======
<<<<<<< HEAD
    margin-bottom: 30px; }
=======
=======
>>>>>>> 1f06fcccc8f0259a56e3225c8ca042bcbfa62ad1
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px; }
    .f-contact__tab-wrapper:before {
      content: '';
      width: 17px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg%20width=%2217%22%20height=%2220%22%20viewBox=%220%200%2017%2020%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M8.5%201.66668C6.69653%201.66668%204.96692%202.36906%203.69167%203.61932C2.41643%204.86957%201.7%206.56527%201.7%208.3334C1.7%2010.9151%203.41338%2013.4203%205.29206%2015.3645C6.21402%2016.3186%207.13887%2017.0997%207.83418%2017.6425C8.09295%2017.8445%208.31897%2018.0128%208.5%2018.144C8.68103%2018.0128%208.90705%2017.8445%209.16582%2017.6425C9.86113%2017.0997%2010.786%2016.3186%2011.7079%2015.3645C13.5866%2013.4203%2015.3%2010.9151%2015.3%208.3334C15.3%206.56527%2014.5836%204.86957%2013.3083%203.61932C12.0331%202.36906%2010.3035%201.66668%208.5%201.66668ZM8.5%2019.1668C8.02851%2019.8602%208.02829%2019.8601%208.02804%2019.8599L8.02562%2019.8583L8.01995%2019.8546L8.00047%2019.8417C7.98392%2019.8306%207.96031%2019.8148%207.93012%2019.7943C7.86975%2019.7533%207.78299%2019.6936%207.67362%2019.6161C7.45496%2019.4613%207.14541%2019.2353%206.7752%2018.9463C6.03613%2018.3693%205.04848%2017.5358%204.05794%2016.5107C2.11162%2014.4966%200%2011.585%200%208.3334C5.06639e-08%206.12324%200.895533%204.00361%202.48959%202.4408C4.08365%200.87798%206.24566%200%208.5%200C10.7543%200%2012.9163%200.87798%2014.5104%202.4408C16.1045%204.00361%2017%206.12324%2017%208.3334C17%2011.585%2014.8884%2014.4966%2012.9421%2016.5107C11.9515%2017.5358%2010.9639%2018.3693%2010.2248%2018.9463C9.85459%2019.2353%209.54504%2019.4613%209.32638%2019.6161C9.21701%2019.6936%209.13025%2019.7533%209.06988%2019.7943C9.03969%2019.8148%209.01608%2019.8306%208.99953%2019.8417L8.98005%2019.8546L8.97439%2019.8583L8.97259%2019.8595C8.97235%2019.8596%208.9715%2019.8602%208.5%2019.1668ZM8.5%2019.1668L8.9715%2019.8602C8.68598%2020.0468%208.31356%2020.0465%208.02804%2019.8599L8.5%2019.1668Z%22%20fill=%22black%22/%3E%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M8.5%206.66672C7.56112%206.66672%206.8%207.41291%206.8%208.3334C6.8%209.25388%207.56112%2010.0001%208.5%2010.0001C9.43888%2010.0001%2010.2%209.25388%2010.2%208.3334C10.2%207.41291%209.43888%206.66672%208.5%206.66672ZM5.1%208.3334C5.1%206.49243%206.62223%205.00004%208.5%205.00004C10.3778%205.00004%2011.9%206.49243%2011.9%208.3334C11.9%2010.1744%2010.3778%2011.6668%208.5%2011.6668C6.62223%2011.6668%205.1%2010.1744%205.1%208.3334Z%22%20fill=%22black%22/%3E%20%3C/svg%3E");
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 15px;
      top: 5px; }
<<<<<<< HEAD
>>>>>>> 7608f97a460f6cbf1b2b4eeb0a9a36fef04dc7ed
>>>>>>> 31b0bfdc38dd70d86aa6a401b46b2c6c4da2f10a
=======
>>>>>>> 1f06fcccc8f0259a56e3225c8ca042bcbfa62ad1
  .f-contact__office {
    color: #016299;
    font-size: 20px;
    text-decoration: underline; }
  .f-contact__adress {
    color: #000;
    font-size: 20px; }
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 1f06fcccc8f0259a56e3225c8ca042bcbfa62ad1

.f-footer {
  background: url("../img/blur.png") no-repeat center #006198;
  padding: 60px 0;
  color: #fff; }
  .f-footer .f-footer-nav__title {
    text-transform: uppercase;
    font-family: "Webnar-bold";
    height: 50px; }
  .f-footer .f-footer-nav__item a {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline; }
  .f-footer .f-footer-nav__item a:hover {
    text-decoration: none; }
  .f-footer__copy {
    margin-top: 55px; }
  .f-footer__logo {
    border-right: 2px solid #fff;
    text-align: right; }
  .f-footer__organisation {
    font-size: 15px;
    line-height: 18px; }
<<<<<<< HEAD
>>>>>>> 7608f97a460f6cbf1b2b4eeb0a9a36fef04dc7ed
>>>>>>> 31b0bfdc38dd70d86aa6a401b46b2c6c4da2f10a
=======
>>>>>>> 1f06fcccc8f0259a56e3225c8ca042bcbfa62ad1
