@media (max-width: 1199.98px) {
  .f-owner__border {
    margin: 0 auto; }
  .f-owner__square {
    display: none; } }

@media (max-width: 575.98px) {
  .title {
    font-size: 26px;
    line-height: 30px; }
  .f-diagramm {
    display: none; }
  .container {
    max-width: 100%; }
  .nav-item {
    margin-bottom: 20px; }
  .f-owner__border, .f-owner__txt, .f-check-out__btn {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .f-owner__txt_blue {
    margin-top: 15px; }
  .t-feedback__input {
    margin-bottom: 15px; } }

@media (max-width: 319.99px) {
  .f-check-out__btn {
    font-size: 16px; } }
