@import "font"
$regular:  "Webnar-regular"
$bold:  "Webnar-bold"
body
  color: #464646
  letter-spacing: 0.05em
  font-size: 16px
  font-family: $regular
b, .bold
  font-family: $bold
.n-wr
  white-space: nowrap
ul, ol
  list-style: none
  margin: 0
  padding: 0
img
  max-width: 100%
p
  margin: 0
.container
  width: 1160px
.t-center
  text-align: center
.hide-svg
  display: none
.blur
  background: url(../img/blur.png) no-repeat top center #006198
.title
  color: #036194
  font-size: 35px
  line-height: 42px
  margin-bottom: 22px
.slider-arrow
  width: 47px
  height: 47px
  background: #FFFFFF
  border: 2px solid #006298
  box-sizing: border-box
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  transition: background-color 0.3s ease-in-out
  position: absolute
  &:focus
    outline: none
    border: 2px solid #006298
  svg
    stroke: #006298
    transition: color 0.3s ease-in-out
  &:hover
    background-color: #006298
  &:hover svg
    stroke: #fff
  &_prev
    left: -50px
  &_next
    right: -50px
  &__wrapper
    position: absolute
    top: 50%
    width: 100%

// help
.f-help
  background: #D0D0D0
  padding-top: 50px
  color: #333
  .title
    color: #000
  p
    font-size: 20px
    line-height: 25px
    &:last-child, .bold
      padding-bottom: 35px
// help END

// types
.f-type
  padding: 70px 0
  &__title
    width: 100%
    padding: 26px 0
    margin-bottom: 25px
    background: #EEEEEE
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    text-transform: uppercase
    text-align: center
    font-size: 18px
    line-height: 22px
    font-family: $bold
  &__content
    padding: 0 20px 20px 30px
    box-sizing: border-box
    background: #F8F9F9
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25)
    border-radius: 3px
  p
    font-size: 18px
    line-height: 22px
    margin-bottom: 25px
  &__hand
    background: url("../img/blur.png") no-repeat center #006198
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    color: #fff
    margin-top: 55px
    font-size: 20px
    line-height: 30px
    padding: 40px 50px 60px
    &_img
      margin-right: 20px
.blue-list
  margin-bottom: 30px
  list-style-type: none
  counter-reset: blue-counter
  &__item
    font-size: 16px
    font-family: $regular
    color: #464646
    line-height: 22px
    margin-bottom: 22px
    padding-left: 30px
    position: relative
    &:before
      content: counter(blue-counter)
      counter-increment: blue-counter
      font-size: 18px
      line-height: 22px
      color: #006298
      font-family: $bold
      position: absolute
      left: 0
// types END

// not do
.f-notdo
  background: url("../img/notdo_bg.jpg") no-repeat
  padding: 50px 0 70px
  & .title
    margin-bottom: 50px

  &__img
    width: 70px
    height: 70px
    background: #016299
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    margin-bottom: 16px
  &__text
    line-height: 22px
// not do END

//recommends
.f-recommend
  margin-top: 55px
  margin-bottom: 65px
  .title
    margin-bottom: 35px
.color-list
  &__item
    margin-bottom: 35px
    line-height: 22px
    position: relative
    padding-left: 40px
    letter-spacing: 0
    &:before
      content: ''
      background: #006298
      width: 10px
      height: 10px
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      display: flex
      align-items: center
      position: absolute
      left: 0
      top: 5px
//recommends END
// case
.f-case
  margin-top: 80px
  margin-bottom: 50px
  &__item
    border: 1px solid rgba(0,0,0,0.25)
    -moz-border-radius: 3px
    border-radius: 3px
    box-sizing: border-box
    padding: 30px 30px 60px 30px
    position: relative
    transition: box-shadow 0.3s ease-in-out
    width: 100%
    &:hover
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  &__title
    font-family: $bold
    font-size: 30px
    line-height: 35px
    color: #006298
    margin-bottom: 30px
  p
    margin-bottom: 15px
  &__numbers
    font-size: 20px
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    padding: 15px 0 0
    margin-bottom: 15px
    span
      font-family: $bold
      font-size: 28px
    &_orange  span
      color: #e19c00
    &_blue span
      color: #006298
  &__profit-title
    color: #333
    font-size: 30px
    line-height: 35px
    font-family: $bold
    margin-bottom: 15px
  &__link
    color: #016299
    font-size: 20px
    line-height: 35px
    position: absolute
    bottom: 30px
    text-decoration: underline
// case END
// feedback
.f-feedback
  background: #006198
// reviews
.f-reviews
  margin: 50px 0
  &__item
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    background: #ffffff
    padding: 22px 17px 10px 30px
    box-sizing: border-box
    border: 1px solid rgba(0, 0, 0, 0.25)
  &__title
    font-family: $bold
    font-size: 30px
    line-height: 47px
    color: #333
    margin-bottom: 10px
  &__subtitle
    font-size: 20px
    line-height: 25px
    color: #333
    margin-bottom: 20px
  &__text
    font-size: 18px
    line-height: 22px
    color: #1a1a1a
  &__link
    margin-top: 20px
    display: block
    text-align: right
    text-decoration: underline
    color: #006298
    font-size: 18px
    line-height: 22px
// reviews END
// feedback
.f-feedback
  background: url("../img/blur.png") no-repeat center #006198
  padding: 60px 0 40px
  color: #fff
  .title
    color: #fff
    margin-bottom: 50px
  &__submit
    text-align: center
    width: 100%
  &__button
    background: #fff
    font-family: $bold
    height: 52px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    display: flex
    justify-content: center
    align-items: center
    border: 0
    margin: 30px auto 0
    width: calc(33.3% - 30px)
    padding-left: 15px
    padding-right: 15px
    font-size: 18px
  &__input
    height: 52px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    border: 2px solid #fff
    background-color: transparent
    &:focus
      background-color: transparent
    &::placeholder
      color: #fff
      font-family: $bold
.confidencial
  text-align: center
  margin-top: 40px
  &__link
    color: #fff
    text-decoration: underline
    &:hover
      color: #fff
      text-decoration: none
// feedback END

// contacts
.f-contact
  background: #F2F2F2
  padding: 60px 0
  &__nav
    border: 0
    margin-top: 30px
  &__nav-item
    margin-right: 30px
  &__nav-link
    text-transform: uppercase
    font-family: $bold
    background-color: #fff
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
    transition: all 0.3s ease-in-out
    border-radius: 5px !important
    border: 0 !important
    color: #000
    font-size: 22px
    line-height: 1
    padding: 23px 20px
    text-align: center
    &.active, &:hover
      background-color: #006298 !important
      color: #fff !important
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2)
  &__tab
    margin-top: 40px
  &__tab-wrapper
    margin-bottom: 30px
    position: relative
    padding-left: 40px
    &:before
      content: ''
      width: 17px
      height: 20px
      background-image: url("data:image/svg+xml,%3Csvg%20width=%2217%22%20height=%2220%22%20viewBox=%220%200%2017%2020%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M8.5%201.66668C6.69653%201.66668%204.96692%202.36906%203.69167%203.61932C2.41643%204.86957%201.7%206.56527%201.7%208.3334C1.7%2010.9151%203.41338%2013.4203%205.29206%2015.3645C6.21402%2016.3186%207.13887%2017.0997%207.83418%2017.6425C8.09295%2017.8445%208.31897%2018.0128%208.5%2018.144C8.68103%2018.0128%208.90705%2017.8445%209.16582%2017.6425C9.86113%2017.0997%2010.786%2016.3186%2011.7079%2015.3645C13.5866%2013.4203%2015.3%2010.9151%2015.3%208.3334C15.3%206.56527%2014.5836%204.86957%2013.3083%203.61932C12.0331%202.36906%2010.3035%201.66668%208.5%201.66668ZM8.5%2019.1668C8.02851%2019.8602%208.02829%2019.8601%208.02804%2019.8599L8.02562%2019.8583L8.01995%2019.8546L8.00047%2019.8417C7.98392%2019.8306%207.96031%2019.8148%207.93012%2019.7943C7.86975%2019.7533%207.78299%2019.6936%207.67362%2019.6161C7.45496%2019.4613%207.14541%2019.2353%206.7752%2018.9463C6.03613%2018.3693%205.04848%2017.5358%204.05794%2016.5107C2.11162%2014.4966%200%2011.585%200%208.3334C5.06639e-08%206.12324%200.895533%204.00361%202.48959%202.4408C4.08365%200.87798%206.24566%200%208.5%200C10.7543%200%2012.9163%200.87798%2014.5104%202.4408C16.1045%204.00361%2017%206.12324%2017%208.3334C17%2011.585%2014.8884%2014.4966%2012.9421%2016.5107C11.9515%2017.5358%2010.9639%2018.3693%2010.2248%2018.9463C9.85459%2019.2353%209.54504%2019.4613%209.32638%2019.6161C9.21701%2019.6936%209.13025%2019.7533%209.06988%2019.7943C9.03969%2019.8148%209.01608%2019.8306%208.99953%2019.8417L8.98005%2019.8546L8.97439%2019.8583L8.97259%2019.8595C8.97235%2019.8596%208.9715%2019.8602%208.5%2019.1668ZM8.5%2019.1668L8.9715%2019.8602C8.68598%2020.0468%208.31356%2020.0465%208.02804%2019.8599L8.5%2019.1668Z%22%20fill=%22black%22/%3E%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M8.5%206.66672C7.56112%206.66672%206.8%207.41291%206.8%208.3334C6.8%209.25388%207.56112%2010.0001%208.5%2010.0001C9.43888%2010.0001%2010.2%209.25388%2010.2%208.3334C10.2%207.41291%209.43888%206.66672%208.5%206.66672ZM5.1%208.3334C5.1%206.49243%206.62223%205.00004%208.5%205.00004C10.3778%205.00004%2011.9%206.49243%2011.9%208.3334C11.9%2010.1744%2010.3778%2011.6668%208.5%2011.6668C6.62223%2011.6668%205.1%2010.1744%205.1%208.3334Z%22%20fill=%22black%22/%3E%20%3C/svg%3E")
      background-repeat: no-repeat
      display: block
      position: absolute
      left: 15px
      top: 5px
  &__office
    color: #016299
    font-size: 20px
    text-decoration: underline
  &__adress
    color: #000
    font-size: 20px
// contacts END
// f-footer
.f-footer
  background: url("../img/blur.png") no-repeat center #006198
  padding: 60px 0
  color: #fff
  .f-footer-nav
    &__title
      text-transform: uppercase
      font-family: $bold
      height: 50px
    &__item
      a
        color: #fff
        font-size: 15px
        line-height: 18px
        text-decoration: underline
      a:hover
        text-decoration: none
  &__copy
    margin-top: 55px
  &__logo
    border-right: 2px solid #fff
    text-align: right
  &__organisation
    font-size: 15px
    line-height: 18px
// f-footer END

// h-footer
.h-footer
  padding: 60px 0 30px
  .container
    position: relative
  &__item
    color: #fff
    cursor: pointer
    text-align: center
    position: static
  &__title
    font-family: $bold
    height: 50px
    text-transform: uppercase
    position: relative
    color: #fff
    font-size: 16px
    line-height: 23px
    display: block
    &:before
      content: ''
      width: 20px
      height: 12px
      display: block
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L9 9L16 2' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A")
      background-repeat: no-repeat
      background-size: cover
      position: absolute
      bottom: -20px
      left: 0
      right: 0
      margin: 0 auto
      transition: all .3s ease-in-out
    &:after
      content: ''
      position: absolute
      left: 40%
      margin: 0 auto
      bottom: -45px
      border: 20px solid transparent
      border-bottom: 20px solid rgba(255, 255, 255, 0.15)
      z-index: 0
      opacity: 0
      transition: opacity .3s ease-in-out
  &__item:hover > &__title:before
    bottom: -10px
  &__item:hover > &__title:after
    opacity: 1
  &__inner
    opacity: 0
    width: 1160px
    max-width: 100%
    padding: 20px 20px 0
    position: absolute
    top: 95px
    left: 0
    background: rgba(255, 255, 255, 0.15)
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    transition: opacity .3s ease-in-out
    text-align: left
    max-height: 200px
    ul
      flex-wrap: wrap
    li
      margin-right: 15px
      margin-bottom: 20px
      a
        color: #fff
        font-size: 15px
        line-height: 18px
        text-decoration: underline
        &:hover
          text-decoration: none
          font-family: $bold
  &__item:hover > &__inner
    opacity: 1
  &__copy
    margin-top: 180px
    color: #fff
  &__logo
    border-right: 2px solid #fff
    text-align: right
  &__organisation
    font-size: 15px
    line-height: 18px
  &__polit
    text-align: center
    a
      color: #fff
      margin: 30px auto 0
      display: block
// h-footer END